nav {
  display: flex;
  gap: 8px;
  padding: 10px 0;

  :hover {
    background-color: var(--color-primary-bg);
  }

  .navigation {
    display: flex;
    height: 32px;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    white-space: nowrap;
    transition: 0.28s ease-in-out;
    color: var(--color-primary);
    text-decoration: none;
  }

  .navigation_active {
    background-color: var(--color-bg);
    transform: translateY(1px);
  }
}
