.layout {
    width: 1022px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    border-inline: 1px solid var(--primary-border);
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    gap: var(--padding);

    header, main, footer {
        display: flex;
        flex: 1;
        padding: 0 var(--padding);
    }

    header, footer {
        background-color: var(--primary-bg);
    }

    header {
        max-height: var(--header-height);
    }

    main {
        flex-direction: column;
    }

    footer {
        max-height: var(--footer-height);
    }
}

